<p id="notice"><%= notice %></p>





<h2>Your Tasks</h2>

<div id="tasks">
        <%= render "tasks/task" %>
</div>





<table class="table table-hover" id='tasks'>
<thead>
<tr>
	<th>Completed?</th>
  <th>Task Description</th>
	<th>Created</th>
	<th>Deadline</th>
	<th>Days left</th>
	
	</tr>
</head>

<tbody>

<% @list.tasks.each do |task| %>
<%= render "tasks/taskrow", task: task %>
<% end %>

<h3>Add New Task </h3>
<%= form_for [@list, Task.new], remote:true do |f| %>
	<div class="field">

    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>




</tbody>


  






