<tr id="task-<%= task.id %>">
	<td><%= link_to "Complete", [@list, task], remote: true, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you completed this task?' } %></td>

  <td><%= task.body %></td>
  <td><%= task.created_at.strftime("%A, %d/%m") %></td>
  <td><%= task.deadline.strftime("%d/%m/%Y") %></td>
  <td><%= task.remaining_time.strftime("%d") %></td> 
	</tr>